* {
    font-family: 'Merriweather', serif;
    font-weight: lighter;
}

p {
    text-align: center;
    margin-top: 10vh;
    font-size: 1.5em;
}

h1 {
    text-align: center;
    margin: 0;
    color: #120309;
    font-size: 25vw;
    font-weight: bold;
}

div.stat-holder {
    position: absolute;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}

div.stat-holder p{
    font-size: 1em;
}

div.stat-holder a{
    text-decoration: none;
    color: black;
}